<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="tutorsPoint" connectionString="Data Source=DESKTOP-K8H5OEQ\SQLEXPRESS01;Initial Catalog=TutorsPoint;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="Tu" connectionString="Data Source=DESKTOP-K8H5OEQ\SQLEXPRESS01;Initial Catalog=TutorsPoint;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="Admin" connectionString="Data Source=DESKTOP-K8H5OEQ\SQLEXPRESS01;Initial Catalog=TutorsPointAdmin;Integrated Security=True" providerName="Systen.Data.SqlClient"/>
	</connectionStrings>
</configuration>